<div class="row">
    <div class="col-2">
        <div class="list-group">
            <div ngbDropdown class="d-inline-block list-group-item">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Sort
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="sortItemsByPrice()">Price ascending</button>
                    <button ngbDropdownItem (click)="sortItemsByPriceDescending()">Price descending</button>
                    <button ngbDropdownItem (click)="sortItemsByName()">Name ascending</button>
                    <button ngbDropdownItem (click)="sortItemsByNameDescending()">Name descending</button>
                </div>
            </div>
            <span class="list-group-item">Manufacturers</span>
            <div *ngFor="let label of manufacturers | async" class="list-group-item">
                <label>
                    <input type="checkbox" (change)="onCheckboxChange(label)" [value]="label">
                    {{ label }}
                </label>
            </div>
            <span class="list-group-item">Product type</span>
            <div *ngFor="let label of types | async" class="list-group-item">
                <label>
                    <input type="checkbox" (change)="onCheckboxChange(label)" [value]="label">
                    {{ label }}
                </label>
            </div>
            <button class="list-group-item btn" (click)="filter()">Filter</button>
            <button class="list-group-item btn" (click)="clearFilters()">Clear filters</button>
        </div>
    </div>
    <div class="col-10" id="store">
        <ul class="product-list store--product-list">
            <app-product *ngFor="let product of products |async" [product]="product" (addToCart)="addToCart($event)" />
        </ul>
        <div *ngIf="(products | async)?.length == 0">There are no products that meet your search criteria.</div>
    </div>
</div>
